.formBlock {
  padding: 25px;
  background: #7b68ee;
  border-radius: 25px 25px 0px 0px;

  &--form {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &--input {
    outline: none;
    height: 50px;
    width: 100%;
    min-width: 345px;

    border-radius: 10px 0px 0px 10px;
    border: none;

    padding: 10px;

    font-size: 18px;
    color: gray;
    background-image: linear-gradient(white, rgb(211, 211, 211));

    &::placeholder {
      color: rgb(172, 172, 172);
      font-family: "Rajdhani", sans-serif;
    }
  }

  &--btn {
    cursor: pointer;

    height: 50px;
    padding: 10px 15px;

    border-radius: 0px 10px 10px 0px;
    border: none;

    background-image: linear-gradient(white, rgb(211, 211, 211));
    color: #7b68ee;

    :hover {
      color: rgb(172, 172, 172);
      transition: all 0.3s ease-in-out;
    }
  }
}

.searchBlock {
  max-width: 700px;
  padding: 25px 125px;

  background: #7b68ee;

  border-radius: 0px 0px 25px 25px;

  &--text {
    font-size: 25px;
    text-align: center;
  }
}

.weatherBlock {
  &-day,
  &-night {
    padding: 25px 125px;
    border-radius: 0px 0px 25px 25px;
  }

  &-day {
    background-image: linear-gradient(#7b68ee, #6897bb);
  }

  &-night {
    background-image: linear-gradient(#7b68ee, #4b0082);
  }

  &__tempBlock {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
  }
}

.tempBlock {
  &__topBlock {
    display: flex;
    align-items: center;
    margin-top: 26px;
  }

  &__fromWhere {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  &__precips {
    display: flex;
    align-items: center;
    gap: 70px;
  }
}

.topBlock {
  &--img {
    width: 80px;
    height: 80px;
  }

  &__gradeBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.gradeBlock {
  &--grade {
    font-size: 70px;
    line-height: 62px;
    font-weight: 600;
  }

  &--subtitle {
    position: relative;
    bottom: 7px;

    font-size: 17px;
    font-weight: 300;
  }
}

.fromWhere {
  &--city {
    font-size: 50px;
    line-height: 50px;
  }

  &--country {
    line-height: 17px;
    font-size: 17px;
    font-weight: 300;

    position: relative;
    bottom: 25px;
  }
}

.precips {
  &__humidityBlock,
  &__windSpeedBlock {
    display: flex;
    align-items: center;
  }

  &__windSpeedBlock {
    gap: 7px;
  }
}

.humidityBlock {
  &--img {
    height: 35px;
  }

  &--humidity {
    font-size: 17px;
    font-weight: 400;
  }
}

.windSpeedBlock {
  &--img {
    width: 35px;
  }

  &--windSpeed {
    font-size: 17px;
    font-weight: 400;
  }
}
